div.message {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}

.my-message {
  margin-left: 30%;
  background-color:rgba(0, 69, 153,0.1) ;
}

.others-message {
  margin-right: 30%;
}

mat-card-title,
mat-card-subtitle {
  color: grey;
  font-size: 0.8rem;
}
