section {
  margin-bottom: calc(5.12rem + 4.8em);
}

.subtitle {
  text-align: center;
  margin: 0;
}

.list-article {
  display: flex;
  padding: 1.56rem 2.38rem 0.88rem 2.13rem;
  column-gap: 2.8rem;
  row-gap: 1.31rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1280px;
  margin: auto;
}
.action-container {
  display: flex;
}
.action-spacer {
  flex: 1 1 auto;
}
.button-image-order {
  cursor: pointer;
  display: flex;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  height: 29px;
  width: 7.5rem;
  margin: 2.12rem 0.56rem 0 0;
  background-color: inherit;
  border: none;
}
.button-image-order img {
  margin-left: 0.6rem;
  height: 17px;
}
@media only screen and (max-width: 599.98px) {
  .list-article {
    padding: 0.38rem 0.94rem 0.25rem 0.69rem;
    row-gap: 1.06rem;
    justify-content: center;
  }
  .action-container {
    flex-direction: column;
  }
  .button-image-order {
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    height: 29px;
    margin: 0 auto;
    background-color: inherit;
    border: none;
  }

  section {
    margin-bottom: calc(4.12rem + 4.8em);
  }
}
