<section>
  <ng-container *ngIf="messages$ | async as data; else loading">
    <p class="subtitle">
      <span>{{ data[0].me.useruuid }}&nbsp;&nbsp;&nbsp;&nbsp;{{ data[0].me.accountname }}&nbsp;&nbsp;&nbsp;&nbsp;{{ data[0].me.surname }}</span>
    </p>
    <mat-divider></mat-divider>

    <div class="list-article" *ngIf="data[1].length">
      <app-tchat
        *ngFor="let tchatMessage of data[1]"
        [tchatMessage]="tchatMessage"
        [user]="data[0].me"
      ></app-tchat>
    </div>
    <p *ngIf="!data[1].length">
      <span class="no-comment">No messages available</span>
    </p>
  </ng-container>
  <app-new-tchat></app-new-tchat>
  <ng-template #loading>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</section>
