<div
[ngClass]="{'my-message':true}"
  class="message"
  mat-card
  matRipple
  color="primary"
  tabindex="0"
>
  <!--
    
    
    /// DIV
[ngClass]="{'my-message': user.useruuid === tchatMessage.sender_senderuuid, 'others-message': user.useruuid !== tchatMessage.sender_senderuuid}"
  [attr.aria-label]="tchatMessage.createdat | date : 'shortDate'"
  
///
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <mat-card-title>{{ tchatMessage.sender_senderuuid }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-card-title>
  <mat-card-subtitle>
    <span class="post-date"
      >{{ tchatMessage.updatedat | date : "dd-MM-YY HH:mm" }}
    </span>
  </mat-card-subtitle>
  <mat-card-content>
    <p>{{ tchatMessage.content }}</p>
  </mat-card-content> -->

  <mat-card-content>
    <p>{{ message }}</p>
  </mat-card-content>
</div>
