<div class="bottom-bar">
  <textarea
    rows="4"
    placeholder="Saisissez votre message ici"
    #messageInput
    (keydown.enter)="$event.preventDefault(); onSendMessage(messageInput.value); messageInput.value='';"
  ></textarea>
  <div id="container-send">
    <button
      id="button-send"
      class="yl-button-image-accessibility"
      aria-label="Send message"
      (click)="onSendMessage(messageInput.value); messageInput.value = '';"
    >
      <img src="/assets/pictures/send_.png" alt="Send message" />
    </button>
  </div>
</div>
